.register {
  background-image: url("../images/login-wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  width: 400px;
  padding: 50px 20px;
  box-shadow: 1px 2px 3px lightgrey;
  border-radius: 5px;
  margin-top: 40px;
  background-color: rgba(245, 246, 248, 0.386);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.register-form-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.register-form-input {
  width: 300px;
}

.register-form-buttons {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
}
